
@{
    ViewBag.Title = "Dashboard";
}

<head>

    <script src="~/ofline/hichart.js"></script>
    <script src="~/ofline/https-code-highcharts-com-modules-exporting.js"></script>
    <script src="~/ofline/https-code-highcharts-com-modules-export-data.js"></script>
    <script src="~/ofline/https-code-highcharts-com-modules-accessibility.js"></script>

    <script src="~/ofline/highcharts-more.js"></script>
    <script src="~/ofline/Soild_gauge.js"></script>

    <script src="~/Scripts/code_jquery_com_jquery_3_5_1.js"></script>
    <script src="~/Scripts/cdn_datatables_net_1_13_4_jsjquery_dataTables_min.js"></script>
    <script src="~/Scripts/OvencokingTime/OvenCokingTime.js"></script>

    <link href="~/Content/DashBoardCss/DashBoard.css" rel="stylesheet" />



 

    <script src="~/Scripts/General/Dashboard.js"></script>


</head>


<body>
    <div class="xcontainer">
        <div class="ycontainer1">
            <div class="xcontainer1">
                <figure class="highcharts-figure1">
                    <div id="CokeGasFlows" class="chart-container1"></div>
                </figure>
            </div>
            <div class="xcontainer2">

                <div class="zbtn" id="xbtn8">
                    <p class="pyz">CokeGas Flow CS</p>
                    @* <input type="submit" value="Coke Gas Flow CS &#13;&#10Now" id="btnB" class="xibtn" onclick="CokeGasFlow_CS()" />*@
                    <p type="number" class="pzz" id="CokeGasFlow_CS" p></p>
                </div>
                <div class="zbtn" id="xbtn10">
                    <p class="pyz">MixGas Flow CS</p>
                    @* <input type="submit" value="Mix Gas Flow CS &#13;&#10Now" id="btnD" class="xibtn" onclick="MixGasFlow_CS()" />*@
                    <p type="number" class="pzz" id="MixGasFlow_CS" p></p>
                </div>
                <div class="zbtn" id="xbtn7">
                    <p class="pyz">CokeGas Flow PS</p>
                    @* <input type="submit" value="Coke Gas Flow PS &#13;&#10 Now" id="btnA" class="xibtn" onclick="CokeGasFlow_PS()" />*@
                    <p type="number" class="pzz" id="CokeGasFlow_PS" p></p>
                </div>

                <div class="zbtn" id="xbtn9">
                    <p class="pyz">MixGas Flow PS</p>
                    @* <input type="submit" value="Mix Gas Flow PS &#13;&#10Now" id="btnC" class="xibtn" onclick="MixGasFlow_PS()" />*@
                    <p type="number" class="pzz" id="MixGasFlow_PS" p></p>
                </div>
                <div class="zbtn" id="xbtn5">
                    <p class="pyz">Coke Gas CV</p>
                    @* <p type="submit" value="Coke Gas CV&#13;&#10 Now" id="btnD" class="xibtn" onclick="CokeGasCV()" ></p>*@
                    <p class="pzz" type="number" id="CokeGasCV"></p>
                </div>
                <div class="zbtn" id="xbtn6">
                    <p class="pyz">MixGas CV</p>
                    @* <p type="submit" value="Coke Gas CV&#13;&#10 Now" id="btnD" class="xibtn" onclick="CokeGasCV()" ></p>*@
                    <p class="pzz" type="number" id="MixGasCV"></p>
                </div>

            </div>

            <div class="xcontainer3">
                <div class="xcontainer31">
                    <figure class="highcharts-figure">
                        <div id="container" class="chart-container"></div>
                    </figure>

                </div>
                <div class="xcontainer32">
                    <div class="xbtn" id="rbtn1">
                        <p class="py">Last Oven</p>
                        <p class="pz" type="number" id="LastOven"></p>
                    </div>

                    <div class="xbtn" id="rbtn2">
                        <p class="py">Next Oven</p>
                        <p class="pz" type="number" id="NextOven"></p>
                    </div>

                </div>

            </div>
            @*now pie chart*@
            <div class="xcontainer4">
                Pushing Shift

                @*<div id="Ashift" class="xsecdul"></div>  /// berchart
                    <div id="Bshift" class="xsecdul"></div>
                    <div id="Cshift" class="xsecdul"></div>
                    <div id="TotalCount" class="xsecdul"></div>*@
                <figure class="highcharts-figure2">
                    <div id="PieContainer"></div>

                </figure>
            </div>

        </div>
        <div class="ycontainer2">
            <div class="xcontainer21">
                <div class="rbtn" id="xbtn1">
                    <p class="py">Actual NPT</p>
                    <p class="pz" type="number" id="PActualNPT"></p>
                </div>

                <div class="rbtn" id="xbtn2">
                    <p class="py">Running NPT</p>
                    <p class="pz" type="number" id="PRunningNPT"></p>
                </div>

            </div>
            <div class="xcontainer22">

            </div>
            <div class="xcontainer23">
                <div id="ChargingCar1" class="xsecdul"></div>
                <div id="Chargingcar2" class="xsecdul"></div>

            </div>
            <div class="xcontainer24">
                <div id="PushingCar1" class="xsecdul"></div>
                <div id="PushingCar2" class="xsecdul"></div>
            </div>
        </div>
        <div class="ycontainer3">
            <div class="xcontainer11">


                <div>
                    <div class="image-slideshow">
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center " id="OvenCokingTime1">

                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #057e94, #efefef); box-shadow: 6px 9px 18px #10164a;">
                                </table>
                            </div>
                        </div>
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center " id="OvenCokingTime2">

                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #059478, #efefef); box-shadow: 6px 9px 18px #10164a;">
                                </table>
                            </div>
                        </div>
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center " id="OvenCokingTime3">
                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #db6b9a, #efefef); box-shadow: 6px 9px 18px #10164a;">
                                </table>
                            </div>
                        </div>
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center" id="OvenCokingTime4">
                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #057e94, #efefef); box-shadow: 6px 9px 18px #10164a;">
                                </table>
                            </div>
                        </div>
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center " id="OvenCokingTime5">
                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #059478, #efefef); box-shadow: 6px 9px 18px #10164a;">
                                </table>
                            </div>
                        </div>
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center " id="OvenCokingTime6">
                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #db6b9a, #efefef); box-shadow: 6px 9px 18px #10164a; ">
                                </table>
                            </div>
                        </div>
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center " id="OvenCokingTime7">
                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #057e94, #efefef); box-shadow: 6px 9px 18px #10164a;">
                                </table>
                            </div>
                        </div>
                        <div class="image fade">
                            <div>
                                <table class="table align-items-center justify-content-between" id="OvenCokingTime8">
                                    <thead>
                                        <tr>
                                            <th>OVEN</th>
                                            <th>CokingTime</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-image: linear-gradient(to top, #059478, #efefef); box-shadow: 6px 9px 18px #10164a;">
                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="xcontainer12">
                <figure class="highcharts-figure">
                    <div id="containerPerWeek" style="height: 100%;"></div>
                </figure>

            </div>



            <div class="xcontainer14">
               
                <div class="slider">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <input type="radio" name="radio-btn" id="radio5">
                    <input type="radio" name="radio-btn" id="radio6">
                    <input type="radio" name="radio-btn" id="radio7">
                    <input type="radio" name="radio-btn" id="radio8">
                    <input type="radio" name="radio-btn" id="radio9">
                    <div class="slides">
                        <!--radio buttons start-->
                        <!--radio buttons end-->
                        <!--slide images start-->
                        <div class="slide first">

                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus1"></div>
                            </figure>

                        </div>
                        <div class="slide">


                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus2"></div>
                            </figure>

                        </div>
                        <div class="slide">


                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus3"></div>
                            </figure>

                        </div>
                        <div class="slide">


                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus4"></div>
                            </figure>

                        </div>
                        <div class="slide">


                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus5"></div>
                            </figure>

                        </div>
                        <div class="slide">
                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus6"></div>
                            </figure>

                        </div>
                        <div class="slide">
                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus7"></div>
                            </figure>

                        </div>
                        <div class="slide">
                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus8"></div>
                            </figure>

                        </div>
                        <div class="slide">
                            <figure class="highcharts-figure5">
                                <div id="containerOvenStatus9"></div>
                            </figure>
                        </div>
                        <!--slide images end-->
                        <script src="~/Scripts/HetingStatus/HetingShow.js"></script>

                        <!--automatic navigation start-->
                        <div class="navigation-auto">
                            <label for="radio1"> <div class="auto-btn1" onclick="Delay1()"></div></label>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                            <div class="auto-btn5"></div>
                            <div class="auto-btn6"></div>
                            <div class="auto-btn7"></div>
                            <div class="auto-btn8"></div>
                            <div class="auto-btn9"></div>
                        </div>
                        <!--automatic navigation end-->
                    </div>
                    <!--manual navigation start-->
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                        <label for="radio5" class="manual-btn"></label>
                        <label for="radio6" class="manual-btn"></label>
                        <label for="radio7" class="manual-btn"></label>
                        <label for="radio8" class="manual-btn"></label>
                        <label for="radio9" class="manual-btn"></label>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var counter = 1;
                let DelayStore= setInterval(function () {document.getElementById('radio' + counter).checked = true;
                    counter++;
                    if (counter > 9) {
                        counter = 1;
                    }
                }, 9000);
                function Delay1(pass = true) {
                    console.log("click delay")
                    clearTimeout(DelayStore);
                    if (pass == true) {
                       
                        DelayStore = setTimeout(function () { setInterval(function () {
                                document.getElementById('radio' + counter).checked = true;
                                counter++;
                                if (counter > 9) {
                                    counter = 1;
                            }
                         
                            }, 9000); }, 3000)
                    }
                   
                }
                //document.querySelector('.auto-btn1').onclick = Delay1;
            </script>
            <div class="tempCatalog"> </div>

            <script>
                let index = 0;
                displayImages();
                function displayImages() {
                    let i;
                    const images = document.getElementsByClassName("image");
                    for (i = 0; i < images.length; i++) {
                        images[i].style.display = "none";
                    }
                    index++;
                    if (index > images.length) {
                        index = 1;
                    }
                    images[index - 1].style.display = "block";
                    setTimeout(displayImages, 4000);
                }
            </script>

        </div>
    </div>
</body>
