<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User data</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Email Id</th>
      </tr>
      <%for(user of results){%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.username%></td>
        <td><%=user.email%></td>
        <td>
          <form action="/user/<%=user.id%>/edit" method="get">
            <button>Edit</button>
          </form>
        </td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
