<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rolldice</title>
</head>
<body>
    <h1>
      <%=  diceval%>
    </h1>
    <!-- if(diceval==6){
      <h1>roll again</h1>
    } -->
    <% if(diceval==6){ %>
      <h1>roll again</h1>
      <% } %>
      <!-- 15 & 17 is the condition for 16 is the output -->
</body>
</html>