
@{
    ViewBag.Title = "Trends";
}

<head>
    <script src="~/ofline/hichart.js"></script>
    <script src="~/ofline/code_highcharts_com_modules_data.js"></script>
    <script src="~/ofline/_com_modules_drilldown.js"></script>
    <script src="~/ofline/https_code_highcharts_com_modules_variable-pie.js"></script>
    <script src="~/ofline/https-code-highcharts-com-modules-exporting.js"></script>
    <script src="~/ofline/https-code-highcharts-com-modules-export-data.js"></script>
    <script src="~/ofline/https-code-highcharts-com-modules-accessibility.js"></script>

    <script src="~/Scripts/Graphs/TrendsJs.js"></script>
  


    <style type="text/css">

        #container {
            height: 400px;
        }

        /*.highcharts-figure,
        .highcharts-data-table table {
            min-width: 700px;
            max-width: 1200px;
            margin: 1em auto;
        }*/

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }



        .xcointainer {
            height: 91%;
            width: 86%;
            position: fixed;
            z-index: 1;
            top: 70px;
            left: 13%;
            border-radius: 10px;
        }

        .xtopcontainer {
            /*  display: flex;*/
            /*border: 2px rebeccapurple solid;*/
            height: 50%;
        }

        .xtopsub1 {
            display: flex;
            /*border: 2px rebeccapurple solid;*/
            height: 30%;
            width: 100%;
        }

        .xtopsub2 {
            /* display: flex;*/
            /*border: 2px rebeccapurple solid;*/
            height: 70%;
            width: 100%;
        }

        .gbtn1 {
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            color: white;
            /*background-color: #881378;*/
            background-image: linear-gradient(to top, #4c6c8f, #a493ed);
            width: 12%;
            /*height: 100%;*/
            margin-left: 1%;
            border: none;
            border-radius: 7px;
            text-align: inherit;
            position: relative;
        }

        .gbtn2 {
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            color: white;
            /*background-color: #1a4b47;*/
            background-image: linear-gradient(to top, #969696, #5cb4cb);
            width: 12%;
            /*height: 100%;*/
            margin-left: 1%;
            border: none;
            border-radius: 7px;
            text-align: inherit;
            position: relative;
        }

        .tagcointainer {
            display: flex;
            margin: 2%;
        }

        .tag {
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            font-weight: bolder;
            margin: 0 0 0 2%;
            width: 90%;
        }

        .ovensel {
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            font-weight: bold;
            width: 60%;
        }

        .datesel {
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            font-weight: bold;
            margin: 2%;
            width: 58%;
        }

        .datesel1 {
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            font-weight: bold;
            margin: 2% 2% 2% 13%;
            width: 58%;
        }

        .gibtn {
            width: 62%;
            margin-left: 27%;
            margin-bottom: 2%;
        }
        gibtn1 {
          width: 28%; 
          margin: 2px;
          /*height: 26px;*/
        }
        .gibtn2 {
            width: 60.5%;
            margin-left: 30%;
            margin-bottom: 2%;
        }
        label {
            margin-left: 5%;
        }
    </style>

</head>



<body>
    <div class="xcointainer">
        <div class="xtopcontainer">
            <div class="xtopsub1">
                @*Current*@
                <div class="gbtn1">
                    <div class="tagcointainer">
                        <p class="tag">Currents</p>
                        <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                    </div>
                    <label for="SelectOven_current">Oven</label>
                    <select class="ovensel" id="SelectOven_current">
                        <optgroup label="701">
                            <option value="701">701</option>701
                            <option value="711">711</option>
                            <option value="721">721</option>
                            <option value="731">731</option>
                            <option value="741">741</option>
                            <option value="751">751</option>
                            <option value="761">761</option>
                            <option value="771">771</option>
                        </optgroup>
                        <optgroup label="703">
                            <option value="703">703</option>
                            <option value="713">713</option>
                            <option value="723">723</option>
                            <option value="733">733</option>
                            <option value="743">743</option>
                            <option value="753">753</option>
                            <option value="763">763</option>
                            <option value="773">773</option>
                        </optgroup>
                        <optgroup label="705">
                            <option value="705">705</option>
                            <option value="715">715</option>
                            <option value="725">725</option>
                            <option value="735">735</option>
                            <option value="745">745</option>
                            <option value="755">755</option>
                            <option value="765">765</option>
                            <option value="775">775</option>
                        </optgroup>
                        <optgroup label="707">
                            <option value="707">707</option>
                            <option value="717">717</option>
                            <option value="727">727</option>
                            <option value="737">737</option>
                            <option value="747">747</option>
                            <option value="757">757</option>
                            <option value="767">767</option>
                            <option value="777">777</option>
                        </optgroup>
                        <optgroup label="709">
                            <option value="709">709</option>
                            <option value="719">719</option>
                            <option value="729">729</option>
                            <option value="739">739</option>
                            <option value="749">749</option>
                            <option value="759">759</option>
                            <option value="769">769</option>
                            <option value="779">779</option>
                        </optgroup>
                        <optgroup label="703">
                            <option value="702">702</option>
                            <option value="712">712</option>
                            <option value="722">722</option>
                            <option value="732">732</option>
                            <option value="742">742</option>
                            <option value="752">752</option>
                            <option value="762">762</option>
                            <option value="772">772</option>
                        </optgroup>
                        <optgroup label="704">
                            <option value="704">704</option>
                            <option value="714">714</option>
                            <option value="724">724</option>
                            <option value="734">734</option>
                            <option value="744">744</option>
                            <option value="754">754</option>
                            <option value="764">764</option>
                            <option value="774">774</option>
                        </optgroup>
                        <optgroup label="706">
                            <option value="706">706</option>
                            <option value="716">716</option>
                            <option value="726">726</option>
                            <option value="736">736</option>
                            <option value="746">746</option>
                            <option value="756">756</option>
                            <option value="766">766</option>
                            <option value="776">776</option>
                        </optgroup>
                        <optgroup label="708">

                            <option value="708">708</option>
                            <option value="718">718</option>
                            <option value="728">728</option>
                            <option value="738">738</option>
                            <option value="748">748</option>
                            <option value="758">758</option>
                            <option value="768">768</option>
                            <option value="778">778</option>
                        </optgroup>
                        <optgroup label="701">
                            <option value="701">701</option>
                            <option value="711">711</option>
                            <option value="721">721</option>
                            <option value="731">731</option>
                            <option value="741">741</option>
                            <option value="751">751</option>
                            <option value="761">761</option>
                            <option value="771">771</option>
                        </optgroup>
                        <optgroup label="703">
                            <option value="703">703</option>
                            <option value="713">713</option>
                            <option value="723">723</option>
                            <option value="733">733</option>
                            <option value="743">743</option>
                            <option value="753">753</option>
                            <option value="763">763</option>
                            <option value="773">773</option>
                        </optgroup>
                        <optgroup label="705">
                            <option value="705">705</option>
                            <option value="715">715</option>
                            <option value="725">725</option>
                            <option value="735">735</option>
                            <option value="745">745</option>
                            <option value="755">755</option>
                            <option value="765">765</option>
                            <option value="775">775</option>
                        </optgroup>
                        <optgroup label="707">
                            <option value="707">707</option>
                            <option value="717">717</option>
                            <option value="727">727</option>
                            <option value="737">737</option>
                            <option value="747">747</option>
                            <option value="757">757</option>
                            <option value="767">767</option>
                            <option value="777">777</option>
                        </optgroup>
                        <optgroup label="709">
                            <option value="709">709</option>
                            <option value="719">719</option>
                            <option value="729">729</option>
                            <option value="739">739</option>
                            <option value="749">749</option>
                            <option value="759">759</option>
                            <option value="769">769</option>
                            <option value="779">779</option>
                        </optgroup>
                        <optgroup label="702">
                            <option value="702">702</option>
                            <option value="712">712</option>
                            <option value="722">722</option>
                            <option value="732">732</option>
                            <option value="742">742</option>
                            <option value="752">752</option>
                            <option value="762">762</option>
                            <option value="772">772</option>
                        </optgroup>
                        <optgroup label="704">
                            <option value="704">704</option>
                            <option value="714">714</option>
                            <option value="724">724</option>
                            <option value="734">734</option>
                            <option value="744">744</option>
                            <option value="754">754</option>
                            <option value="764">764</option>
                            <option value="774">774</option>
                        </optgroup>
                        <optgroup label="706">
                            <option value="706">706</option>
                            <option value="716">716</option>
                            <option value="726">726</option>
                            <option value="736">736</option>
                            <option value="746">746</option>
                            <option value="756">756</option>
                            <option value="766">766</option>
                            <option value="776">776</option>
                        </optgroup>
                        <optgroup label="708">
                            <option value="708">708</option>
                            <option value="718">718</option>
                            <option value="728">728</option>
                            <option value="738">738</option>
                            <option value="748">748</option>
                            <option value="758">758</option>
                            <option value="768">768</option>
                            <option value="778">778</option>
                        </optgroup>

                    </select>
                    <label for="SelectDate_current">Date</label>
                    <input type="date" class="datesel" id="SelectDate_current" />
                    <input type="button" value="Load" class="gibtn" id="Current" onclick="Current()" />
                </div>
                @*Coke Temp.*@
                <div class="gbtn1">
                    <div class="tagcointainer">
                        <p class="tag">Coke Temp.</p>
                        <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                    </div>
                    <label for="SelectOven_COKETEMP">Oven</label>
                    <select class="ovensel" id="SelectOven_COKETEMP">
                        <optgroup label="701">
                            <option value="701">701</option>701
                            <option value="711">711</option>
                            <option value="721">721</option>
                            <option value="731">731</option>
                            <option value="741">741</option>
                            <option value="751">751</option>
                            <option value="761">761</option>
                            <option value="771">771</option>
                        </optgroup>
                        <optgroup label="703">
                            <option value="703">703</option>
                            <option value="713">713</option>
                            <option value="723">723</option>
                            <option value="733">733</option>
                            <option value="743">743</option>
                            <option value="753">753</option>
                            <option value="763">763</option>
                            <option value="773">773</option>
                        </optgroup>
                        <optgroup label="705">
                            <option value="705">705</option>
                            <option value="715">715</option>
                            <option value="725">725</option>
                            <option value="735">735</option>
                            <option value="745">745</option>
                            <option value="755">755</option>
                            <option value="765">765</option>
                            <option value="775">775</option>
                        </optgroup>
                        <optgroup label="707">
                            <option value="707">707</option>
                            <option value="717">717</option>
                            <option value="727">727</option>
                            <option value="737">737</option>
                            <option value="747">747</option>
                            <option value="757">757</option>
                            <option value="767">767</option>
                            <option value="777">777</option>
                        </optgroup>
                        <optgroup label="709">
                            <option value="709">709</option>
                            <option value="719">719</option>
                            <option value="729">729</option>
                            <option value="739">739</option>
                            <option value="749">749</option>
                            <option value="759">759</option>
                            <option value="769">769</option>
                            <option value="779">779</option>
                        </optgroup>
                        <optgroup label="702">
                            <option value="702">702</option>
                            <option value="712">712</option>
                            <option value="722">722</option>
                            <option value="732">732</option>
                            <option value="742">742</option>
                            <option value="752">752</option>
                            <option value="762">762</option>
                            <option value="772">772</option>
                        </optgroup>
                        <optgroup label="704">
                            <option value="704">704</option>
                            <option value="714">714</option>
                            <option value="724">724</option>
                            <option value="734">734</option>
                            <option value="744">744</option>
                            <option value="754">754</option>
                            <option value="764">764</option>
                            <option value="774">774</option>
                        </optgroup>
                        <optgroup label="706">
                            <option value="706">706</option>
                            <option value="716">716</option>
                            <option value="726">726</option>
                            <option value="736">736</option>
                            <option value="746">746</option>
                            <option value="756">756</option>
                            <option value="766">766</option>
                            <option value="776">776</option>
                        </optgroup>
                        <optgroup label="708">

                            <option value="708">708</option>
                            <option value="718">718</option>
                            <option value="728">728</option>
                            <option value="738">738</option>
                            <option value="748">748</option>
                            <option value="758">758</option>
                            <option value="768">768</option>
                            <option value="778">778</option>
                        </optgroup>
                        <optgroup label="701">
                            <option value="701">701</option>
                            <option value="711">711</option>
                            <option value="721">721</option>
                            <option value="731">731</option>
                            <option value="741">741</option>
                            <option value="751">751</option>
                            <option value="761">761</option>
                            <option value="771">771</option>
                        </optgroup>
                        <optgroup label="703">
                            <option value="703">703</option>
                            <option value="713">713</option>
                            <option value="723">723</option>
                            <option value="733">733</option>
                            <option value="743">743</option>
                            <option value="753">753</option>
                            <option value="763">763</option>
                            <option value="773">773</option>
                        </optgroup>
                        <optgroup label="705">
                            <option value="705">705</option>
                            <option value="715">715</option>
                            <option value="725">725</option>
                            <option value="735">735</option>
                            <option value="745">745</option>
                            <option value="755">755</option>
                            <option value="765">765</option>
                            <option value="775">775</option>
                        </optgroup>
                        <optgroup label="707">
                            <option value="707">707</option>
                            <option value="717">717</option>
                            <option value="727">727</option>
                            <option value="737">737</option>
                            <option value="747">747</option>
                            <option value="757">757</option>
                            <option value="767">767</option>
                            <option value="777">777</option>
                        </optgroup>
                        <optgroup label="709">
                            <option value="709">709</option>
                            <option value="719">719</option>
                            <option value="729">729</option>
                            <option value="739">739</option>
                            <option value="749">749</option>
                            <option value="759">759</option>
                            <option value="769">769</option>
                            <option value="779">779</option>
                        </optgroup>
                        <optgroup label="702">
                            <option value="702">702</option>
                            <option value="712">712</option>
                            <option value="722">722</option>
                            <option value="732">732</option>
                            <option value="742">742</option>
                            <option value="752">752</option>
                            <option value="762">762</option>
                            <option value="772">772</option>
                        </optgroup>
                        <optgroup label="704">
                            <option value="704">704</option>
                            <option value="714">714</option>
                            <option value="724">724</option>
                            <option value="734">734</option>
                            <option value="744">744</option>
                            <option value="754">754</option>
                            <option value="764">764</option>
                            <option value="774">774</option>
                        </optgroup>
                        <optgroup label="706">
                            <option value="706">706</option>
                            <option value="716">716</option>
                            <option value="726">726</option>
                            <option value="736">736</option>
                            <option value="746">746</option>
                            <option value="756">756</option>
                            <option value="766">766</option>
                            <option value="776">776</option>
                        </optgroup>
                        <optgroup label="708">
                            <option value="708">708</option>
                            <option value="718">718</option>
                            <option value="728">728</option>
                            <option value="738">738</option>
                            <option value="748">748</option>
                            <option value="758">758</option>
                            <option value="768">768</option>
                            <option value="778">778</option>
                        </optgroup>

                    </select>
                    <label for="SelectDate_Coke_Temp">Date</label>
                    <input type="date" class="datesel" id="SelectDate_Coke_Temp" />
                    <input type="button" value="Load" class="gibtn" id="COKETEMP" onclick="COKETEMP()" />
                </div>
                @*Control Flue Temp.Daily *@

                <div class="gbtn1">
                    <div class="tagcointainer">
                        <p class="tag">Control Flue Temp</p>
                        <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                    </div>
                    <label for="Select_From_Control_Flow_D">Date</label>
                    <input type="date" class="datesel" id="Select_From_Control_Flow_D" />
                    @*<label for="Select_To_Date_Control_Flow">To</label>
                    <input type="date" class="datesel1" id="Select_To_Date_Control_Flow" />*@
                    <input type="button" value="Load" class="gibtn" id="Control_Flue_Temp" onclick="Control_Flue_Temp_D()" />
                </div>

                @*Control Flue Temp.All *@

            <div class="gbtn1">
                <div class="tagcointainer">
                    <p class="tag">Control Flue Temp</p>
                    <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                </div> 
                <label for="SelectOven_ControlFlue_A">Oven</label>
                <select class="ovensel"  id="SelectOven_ControlFlue_A">
                    <optgroup label="701">
                        <option value="701">701</option>701
                        <option value="711">711</option>
                        <option value="721">721</option>
                        <option value="731">731</option>
                        <option value="741">741</option>
                        <option value="751">751</option>
                        <option value="761">761</option>
                        <option value="771">771</option>
                    </optgroup>
                    <optgroup label="703">
                        <option value="703">703</option>
                        <option value="713">713</option>
                        <option value="723">723</option>
                        <option value="733">733</option>
                        <option value="743">743</option>
                        <option value="753">753</option>
                        <option value="763">763</option>
                        <option value="773">773</option>
                    </optgroup>
                    <optgroup label="705">
                        <option value="705">705</option>
                        <option value="715">715</option>
                        <option value="725">725</option>
                        <option value="735">735</option>
                        <option value="745">745</option>
                        <option value="755">755</option>
                        <option value="765">765</option>
                        <option value="775">775</option>
                    </optgroup>
                    <optgroup label="707">
                        <option value="707">707</option>
                        <option value="717">717</option>
                        <option value="727">727</option>
                        <option value="737">737</option>
                        <option value="747">747</option>
                        <option value="757">757</option>
                        <option value="767">767</option>
                        <option value="777">777</option>
                    </optgroup>
                    <optgroup label="709">
                        <option value="709">709</option>
                        <option value="719">719</option>
                        <option value="729">729</option>
                        <option value="739">739</option>
                        <option value="749">749</option>
                        <option value="759">759</option>
                        <option value="769">769</option>
                        <option value="779">779</option>
                    </optgroup>
                    <optgroup label="703">
                        <option value="702">702</option>
                        <option value="712">712</option>
                        <option value="722">722</option>
                        <option value="732">732</option>
                        <option value="742">742</option>
                        <option value="752">752</option>
                        <option value="762">762</option>
                        <option value="772">772</option>
                    </optgroup>
                    <optgroup label="704">
                        <option value="704">704</option>
                        <option value="714">714</option>
                        <option value="724">724</option>
                        <option value="734">734</option>
                        <option value="744">744</option>
                        <option value="754">754</option>
                        <option value="764">764</option>
                        <option value="774">774</option>
                    </optgroup>
                    <optgroup label="706">
                        <option value="706">706</option>
                        <option value="716">716</option>
                        <option value="726">726</option>
                        <option value="736">736</option>
                        <option value="746">746</option>
                        <option value="756">756</option>
                        <option value="766">766</option>
                        <option value="776">776</option>
                    </optgroup>
                    <optgroup label="708">

                        <option value="708">708</option>
                        <option value="718">718</option>
                        <option value="728">728</option>
                        <option value="738">738</option>
                        <option value="748">748</option>
                        <option value="758">758</option>
                        <option value="768">768</option>
                        <option value="778">778</option>
                    </optgroup>
                    <optgroup label="701">
                        <option value="701">701</option>
                        <option value="711">711</option>
                        <option value="721">721</option>
                        <option value="731">731</option>
                        <option value="741">741</option>
                        <option value="751">751</option>
                        <option value="761">761</option>
                        <option value="771">771</option>
                    </optgroup>
                    <optgroup label="703">
                        <option value="703">703</option>
                        <option value="713">713</option>
                        <option value="723">723</option>
                        <option value="733">733</option>
                        <option value="743">743</option>
                        <option value="753">753</option>
                        <option value="763">763</option>
                        <option value="773">773</option>
                    </optgroup>
                    <optgroup label="705">
                        <option value="705">705</option>
                        <option value="715">715</option>
                        <option value="725">725</option>
                        <option value="735">735</option>
                        <option value="745">745</option>
                        <option value="755">755</option>
                        <option value="765">765</option>
                        <option value="775">775</option>
                    </optgroup>
                    <optgroup label="707">
                        <option value="707">707</option>
                        <option value="717">717</option>
                        <option value="727">727</option>
                        <option value="737">737</option>
                        <option value="747">747</option>
                        <option value="757">757</option>
                        <option value="767">767</option>
                        <option value="777">777</option>
                    </optgroup>
                    <optgroup label="709">
                        <option value="709">709</option>
                        <option value="719">719</option>
                        <option value="729">729</option>
                        <option value="739">739</option>
                        <option value="749">749</option>
                        <option value="759">759</option>
                        <option value="769">769</option>
                        <option value="779">779</option>
                    </optgroup>
                    <optgroup label="702">
                        <option value="702">702</option>
                        <option value="712">712</option>
                        <option value="722">722</option>
                        <option value="732">732</option>
                        <option value="742">742</option>
                        <option value="752">752</option>
                        <option value="762">762</option>
                        <option value="772">772</option>
                    </optgroup>
                    <optgroup label="704">
                        <option value="704">704</option>
                        <option value="714">714</option>
                        <option value="724">724</option>
                        <option value="734">734</option>
                        <option value="744">744</option>
                        <option value="754">754</option>
                        <option value="764">764</option>
                        <option value="774">774</option>
                    </optgroup>
                    <optgroup label="706">
                        <option value="706">706</option>
                        <option value="716">716</option>
                        <option value="726">726</option>
                        <option value="736">736</option>
                        <option value="746">746</option>
                        <option value="756">756</option>
                        <option value="766">766</option>
                        <option value="776">776</option>
                    </optgroup>
                    <optgroup label="708">
                        <option value="708">708</option>
                        <option value="718">718</option>
                        <option value="728">728</option>
                        <option value="738">738</option>
                        <option value="748">748</option>
                        <option value="758">758</option>
                        <option value="768">768</option>
                        <option value="778">778</option>
                    </optgroup>

                </select>
                <label for="Select_From_Control_Flow_A">Date</label>
                <input type="date" class="datesel" id="Select_From_Control_Flow_A" />
                <label for="Select_Day_Control_Flow_A">To</label>
                <input type="number" class="datesel1"style="width:22%;" value="1" id="Select_Day_Control_Flow_A" min="1"  />

                <input type="button" value="Load" class="gibtn1" id="Control_Flue_Temp"  onclick="Control_Flue_Temp_A()" /> </div>



                @*Gas Flow*@
                <div class="gbtn1">
                    <div class="tagcointainer">
                        <p class="tag">Gas Flow</p>
                        <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                    </div>
                    <label for="Select_From_Date_Gas_Flow">From</label>
                    <input type="date" class="datesel" id="Select_From_Date_Gas_Flow" />
                    <label for="Select_To_Date_Gas_Flow">To</label>
                    <input type="date" class="datesel1" id="Select_To_Date_Gas_Flow" />
                    <input type="button" value="Load" class="gibtn2" id="Gas_Flow" onclick="Gas_Flow()" />
                </div>
                @*Wgast Gas Temp*@
                <div class="gbtn1">
                    <div class="tagcointainer">
                        <p class="tag">Waste Gas Temp</p>
                        <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                    </div>
                    <label for="Select_From_Date_Wgast_Gas_Flow">From</label>
                    <input type="date" class="datesel" id="Select_From_Date_Wgast_Gas_Flow" />
                    <label for="Select_To_Date_Wgast_Gas_Flow">To</label>
                    <input type="date" class="datesel1" id="Select_To_Date_Wgast_Gas_Flow" />
                    <input type="button" value="Load" class="gibtn2" id="Wgast_Gas_Flow" onclick="Wgast_Gas_Flow()" />
                </div>

                @*Calorific Value*@
                <div class="gbtn1">
                    <div class="tagcointainer">
                        <p class="tag">CV_Co & MG Value</p>
                        <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                    </div>
                    <label for="Select_From_Date_Calorific_Value">From</label>
                    <input type="date" class="datesel" id="Select_From_Date_Calorific_Value" />
                    <label for="Select_To_Date_Calorific_Value">To</label>
                    <input type="date" class="datesel1" id="Select_To_Date_Calorific_Value" />
                    <input type="button" value="Load" class="gibtn2" id="Calorific_Value" onclick="Calorific_Value()" />
                </div>


            </div>



            @*Graph*@
            <div class="xtopsub2">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>

        </div>







    </div>




</body>

